
body {
  background: #0a0a0f;
  color: #00ffcc;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}
h1 {
  color: #00ffcc;
}
.card {
  background: #111;
  border: 1px solid #00ffcc;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
